venv/
.venv/
__pycache__/
*.pyc
*.pyo
.env
.git/
.gitignore
docs/
build/
dist/
*.spec
*.egg-info/
*.egg
*.tmp
*.log
.idea/
.vscode/
Thumbs.db
.DS_Store
README.md
ARQUITECTURA.md
build.py
main.py
startup.txt
k8s/
deploy.ps1
Dockerfile
.dockerignore
